html
html(lang="en")
  head 
    meta(charset="utf-8")
    title 2017 FOSSASIA presentation

    meta(name="description" content="Presentation not using PowerPoint")
    meta(name="author" content="Chen Ishi")

    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")

    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    link(rel="stylesheet" href="reveal.js/css/reveal.css")
    link(rel="stylesheet" href="reveal.js/css/theme/serif.css" id="theme")
    link(rel="stylesheet" href="css/reveal.css")

    link(rel="stylesheet" href="reveal.js/lib/css/zenburn.css")
    


  body
    script(src="reveal.js/lib/js/head.min.js")
    script(src="reveal.js/js/reveal.js")
    script(src="js/reveal.js")
    .reveal
      .slides
        section 
          h2 What Not Free Software ? Taiwanese ?
          h4 Prevalence Of Free Software In Taiwan

        section 
          h3 Everthing starts from ......
          h2.fragment AN  ASSIGNMENT  ON  CLASS

        section
          h4 "Open-Source Software Development 
          h3 and Community Promotion"
          h5.fragment
            i total 1100 valid data  

        section
          h4 

          



