html
html(lang="en")
  head 
    meta(charset="utf-8")
    title 2017 FOSSASIA presentation

    meta(name="description" content="Presentation not using PowerPoint")
    meta(name="author" content="Chen Ishi")

    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")

    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    link(rel="stylesheet" href="https://cdn.bootcss.com/reveal.js/3.6.0/css/reveal.css")
    link(rel="stylesheet" href="https://cdn.bootcss.com/reveal.js/3.6.0/css/theme/serif.css" id="theme")

    link(rel="stylesheet" href="https://cdn.bootcss.com/reveal.js/3.6.0/lib/css/zenburn.css")


    link(rel="stylesheet" href="css/style.css")
    


  body
    script(src="https://cdn.bootcss.com/reveal.js/3.3.0/lib/js/head.min.js")
    script(src="https://cdn.bootcss.com/reveal.js/3.6.0/js/reveal.js")
    script(src="js/app.js")
    .reveal
      .slides
        section 
          h2 What Not Free Software ? Taiwanese ?
          h4 Prevalence of Free Software In Taiwan

        section 
          h3 Everthing starts from ......
          h2.fragment 
            b.emphaize AN  ASSIGNMENT  
            br
            b.emphaize ON  CLASS

        section
          h4 "Open-Source Software Development 
          h3 and Community Promotion"
          h5.fragment
            i total 
            i 
              b.emphaize 1100 
            i valid data  

        section
          h2 Detailed Background
          h5.fragment
            i In Average, Students Only Take 
            i.emphaize Two Class 
              br
            i  before Research
          h5.fragment
            i Most Of them Are 
            i.emphaize Freshmen 
            i of Computer Science 
            br
            i And Infomation Engineering
          h5.fragment
            i They Are Required to Ask At Least 10 People
            br
            i However, There Is 
            i.emphaize No Limitation 
            i On Format......

        section
          h2 How Do Free Software Live in Taiwan ?

        section.fig-container(data-fig-id="water" data-file="Curtis_Bratton.html")
          

        section 
          h3 What Do People Think of
          h3 Free Software ?

        section.fig-container(data-fig-id="word_cloud" data-file="wordCloud.html")

        section 
          h2 To Be More Specific ......
    
        section.fig-container(data-fig-id="fig-still-dont-know" data-file="Collision-Detection.html" data-transitions="2")

        section 
          h2 So, Do You Support The Spirit Of Free Software ?

        section
          h4 Here Should Be A Visualization

        section
          h3 Can We Conclude That 
          h3 Taiwanese People actually 
          h2.fragment.emphaize Embrace The Beauty of Free Software ?

        section
          h3 Attitude Toward NCTU Using 
          h2.emphaize Libre Instead of MS  
          p
            i At The End of 2018 Feb,
            br
            i National Chi Nan University Plan to
            br
            i.emphaize NOT OBTAIN THE LATEST MS OFFICE'S AUTHORIZATION 
            i.emphaize INSTEAD, USING LIBREOFFICE ON FORMAL DOCUMENT

        section.fig-container(data-fig-id="circle" data-file="David_Buezas.html")

        section 
          h2 //maybe place the dcard posting (still need to be translated to Eng)

        section
          h4 When It Comes to Real Lives
          .fragment
            h3 What Kind of Software Will 
            h3 Taiwanese Actually Choose ?

        section
          h2 //another visualization

        section 
          h3 According to Your Research, 
          h3 Any Thought Or Suggestion ?

        section 
          h2 img

        section
          h3 So ...... 
          h3 Final Solution Should Be ...... ?

        section
          h3 Programming Will Be Included in 
          h3 Students' Major Subjects in 2019
          p 
            i Maybe The Variety of Free Software Can Give Us A Helping Hand ?

        section 
          h3 Introduce Free Software into 
          h2 Government System
          p
            i //details

        section
          h3 So ......
          h3 It Should Be The Final Solution ?

        section 
          h3 Let's See What Teachers Actually Think ......
          h4 //maybe a conversation block here

        section 
          h2 //poll on teachers
          h5 //mention of the "format" problem, as a bridge to government part

        section 
          h2 //maybe a time table of teacher

        section
          h3 Then, What about The Government ?
          h5 //maybe a conversation block here

        section 
          h5 // each gov keep wait and see other departments

        section 
          h3 How about The Publics ?
          h5 //maybe fb post in "kau bai engineer"

        section
          h5 //response to that post(or multi-posts)

        section
          h3 EVERYBODY IS EXPECTING OTHER TO DO IT FIRST

        section
          h4 Some Interesting Things Happened During This Research 
          p Since It Didn't Prohibit Students from Asking Their Classmate at The Same Class
          p Some of Them Really Do So, While
          p It Makes A Total Difference 
          p Between Different Reports of The Same Person

        section
          h4 //example

        section
          h2 Conflicts
          h4.fragment Morality v.s. Humanity

        section
          h2 Conflicts
          h4.fragment How to Promote 
          

        




        

          



